<div class="container mx-auto p-5">
    <div class="md:flex md:flex-row md:justify-between text-center text-sm sm:text-base">
        <div class="flex flex-row justify-center">
          <div class="w-7 h-7 rounded-lg"><img src="../../../assets/images/DJM.jpg" alt=""></div>
          <a href="home"><h1 class="text-3xl text-gray-600 ml-2">JODA 🛒</h1></a>
          
          
          
  
        </div>
        
        <div class="mt-2 inline-flex">
          <a href="home" class="text-gray-600 hover:text-blue-600 p-4 px-3 sm:px-4">Acceuil</a>
          <a href="products" class="text-gray-600 hover:text-blue-600 p-4 px-3 sm:px-4">Produit</a>
          
          
          <a href="#" class="bg-blue-600 text-gray-50 hover:bg-red-500 p-3 px-3 sm:px-5 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
             (0)
          </a>
         
  
          <a href="users" class="text-gray-600 hover:text-blue-600 p-4 px-3 sm:px-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 2a3 3 0 100 6 3 3 0 000-6zM10 12c-3.31 0-6 2.69-6 6h12c0-3.31-2.69-6-6-6z" />
            </svg>
          </a>
        
  
        </div>
    </div>
    <div class="container mx-auto p-5">
        <router-outlet></router-outlet>
    </div>
    <div class="border-t-2 border-gray-300 flex flex-col md:flex-row md:justify-between text-center py-5 text-sm">
        <div class="mb-4">
          <a href="#" class="mx-2.5">About</a>
          <a href="#" class="mx-2.5">Privacy Policy</a>
          <a href="#" class="mx-2.5">Terms of Services</a>
        </div>
        <p>&copy; Copyright Reserved 2024</p>
      </div><!-- Footer Section -->
  </div>
  
  
  
  


